body {
	background: url('../img/sativa.png');
	text-align: center;
	padding: .25em 2em;
}

h1 {
	color: rgba(255,255,255,.9);
	font-size: 4em;
	font-family: 'Hoefler Text', Georgia,serif;
	font-style: italic;
	letter-spacing: 10px;
	margin-bottom: .3em;
}

img {
	width: 62px;
	height: auto;
	opacity: .3;
	margin: 0 10px;
}